
/* html, body{
    background: #333!important;
} */



@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

:root {
    
    /* --primary: #0288D1; */
    --color-black: #010101;
    --color-black-2: #111;
}


/* .bg-primary, .btn-primary{background-color: var(--primary)!important;}
.text-primary a{color: var(--primary)!important;} */


/* a {color: var(--primary);} */

h1, h2, h3, h4, h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Tiro Telugu', serif;
    letter-spacing: 1px;
}

.mobile-show{
    display: none!important;
}
@media (max-width: 992px){
    .desktop-show{
        display: none!important;
    }
    .mobile-hide{
        display: none;
    }
    .mobile-show{
        display: block!important;
    }
}

:root {
    --white: #ffffff;
}

/* CLASS */
.divider{opacity: 0.1;}
div{transition: 0.5s;}
.preload{
    width:100%;
    height:100vh;
    /* background-color: #fff; */
    display:grid;
    align-content:center;
    align-items:center;
    /* opacity:.1; */
    position:absolute;
    position: fixed;
    z-index:1;
    text-align:center;
    transition:.5s
}
.preload-content{
    max-width:90%;
    margin:auto;
}


.custom-desktop-mt-50{
    margin-top: 30px;
}
.custom-mobile-mt-30{
    margin-top: 0px;
}
@media (max-width: 992px){
    .custom-desktop-mt-50{
        margin-top: 0px;
    }
    .custom-mobile-mt-30{
        margin-top: 30px;
    }
}


/* CLASS */

.navbar-transition-off{
    transition: 0!important;
}

.navbarOff{
    margin-top: -200px!important;
    transition: .5s;
}
.navbarMobileOff{
    margin-bottom: -100px!important;
    transition: .5s;
}


.navbar{
    background-color: #090909;
    transition: .5s;
}
.nav a{
    color: #090909!important;
}
.nav a:hover{
    text-decoration: none!important;
}
.nav i{
    color: #fff;
    font-size: 1.5rem;
}
.social i{
    color: inherit;
    margin-right: 5px;
}
/* CLASS */
.home-link-space{
    margin-top: 50px;
}
@media (max-width: 992px){
    .home-link-space{
        margin-bottom: 50px;
    }
}

header{
    background-color: var(--color-black);
    padding: 40px 0;
    position: absolute;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 100%;
}


/* CLASS */

.container a, .container-fluid a, .contact a{
    text-decoration: none;
}

.container a:hover, .container-fluid a:hover, .contact a:hover{
    text-decoration: underline;
}

.home-lead-space{
    align-content: center;
    background-color: var(--color-black);
    background-image: url(../images/bg-machado-fernandes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: grid;
    height: 100vh;
    position: relative;
}
.home-lead-space h1{
    font-size: 2.2rem;
}
.home-lead-space p{
    font-size: 1.4rem;
    margin-top: 15px;
}
.home-lead-space div{
    animation-name: hello;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-top: 74.5px;
    opacity: 0;
    transform: translateY(15px);
}
@media (max-width: 992px){
    .home-lead-space{
        background-attachment: scroll;
        padding: 0 10px;
    }
    .home-lead-space article{
        margin-top: auto;
    }
    .home-lead-space h1{
        font-size: 1.9rem;
        padding: 0 10px;
        text-align: center;
    }
    .home-lead-space p{
        font-size: 1rem;
    }
}

@keyframes hello {
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.home-area-atuacao{
    align-content: start;
    display: grid;
    height: 100vh;
}
.home-area-atuacao i{
    font-size: 1rem;
}
@media (max-width: 992px){
    .home-area-atuacao{
        height: auto;
    }   
}
.home-area-atuacao h3{
    margin-bottom: 20px;
}
.home-advogados{
    background-color: var(--color-black);
    position: relative;
}
/* .home-advogados li i{color: var(--primary)!important;} */

.home-advogados::before, .home-advogados::after{
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
}
.home-advogados::before{
    background-image: linear-gradient(#fff, #e4e4e4);
    top: -100px;
}
.home-advogados::after{
    background-image: linear-gradient(#e4e4e4, #fff);
    bottom: -100px;
}
.home-context{
    display: grid;
    align-content: center;
    height: 100vh;
}
.home-context ul{
    padding: 0;
}
.home-context li{
    margin-top: 30px;
    list-style-position: inside;
    list-style-image: url(../images/home-check.svg);
}
.home-blog{
    transition: 0.5s;
}

.home-blog .card:hover{
    margin-top: -20px;
}
.home-blog .card:active{
    margin-top: 20px;
}
.home-blog a{
    color: inherit;
}

.home-context-2{
    align-content: center;
    display: grid;
    height: 50vh;
    background-color: #FBFBFB;
}

footer{
    background-color: var(--color-black);
    color: #ccc;
    display: grid;
    height: 40vh;
    align-content: center;
    font-size: 0.8rem;
}
@media (max-width: 992px){
    footer{
        height: auto;
        text-align: center;
    }
    footer img{
        width: 90%;
        margin: 10px 0;
    } 
}
footer ul{
    list-style-type: none;
}
footer li{
    margin: 10px 0;
}
footer i{
    margin-right: 5px;
}
.credits{
    align-content: center;
    background-color: var(--color-black-2);
    border-top: 1px solid #ffffff0a;
    color: #ccc;
    display: grid;
    font-size: 0.8rem;
    height: 50px;
    text-decoration: none;
}
@media (max-width: 992px){
    .credits{
        height: 120px;
        margin-bottom: 70px;
        text-align: center;
    }
}
.credits a{
    text-decoration: none;
}
.credits a:hover{
    text-decoration: underline;
}

.chatt{
    align-content: center;
    border-radius: 100px 0 0;
    bottom: 0px;
    display: grid;
    height: 80px;
    justify-content: center;
    position: fixed;
    right: 0px;
    width: 80px;
    z-index: 2;
}


.chatt:hover{
    opacity: 0.9;
}
@media (max-width: 992px){
    .chatt{
        display: none;
    }
}
.chatt i{
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 20px 0 0 10px;
}
.chatt i:active{
    opacity: 0.8;
}
.chatt-off{
    right: -80px;
    bottom: -80px;
}



/* PÁGINA SOBRE */


/* PÁGINA SOBRE */



.chatt-content{
    display: grid;
    background-color: #fff;
    bottom: 0px;
    box-shadow: rgb(51 51 51 / 26%) 8px 7px 20px 0px;
    border-radius: 20px 0 0 0;
    height: calc(100vh - 120px);
    /* opacity: 0; */
    position: relative;
    position: fixed;
    right: 0px;
    transform: translateY(100vh);
    width: 280px;
    z-index: 1;
}
@media (max-width: 992px){
    .chatt-content{
        border-radius: 0px;
        height: 100vh;
        width: 100%;
    }
}
.chatt-content div{
    display: grid;
    align-content: end;
}
.chatt-content div:nth-child(4){
    background-color: #f0f0f0;
    padding: 15px 0 10px 0;
}
@media (max-width: 992px){
    .chatt-content div:nth-child(4){
        padding: 0;
    }
}
.chatt-content i{
    font-size: 5rem;
    margin: 0;
    padding: 0;
}
.chatt-content h3{
    color: #212529;
    font-family: var(--bs-body-font-family)!important;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0;
}

.chatt-content p{
    font-size: 0.8rem;
}

@media (max-width: 992px){
    .chatt-content h3{
        font-size: 1rem;
    }
    
    .chatt-content p{
        font-size: 1rem;
    }
}

.chatt-content-close{
    color: #fff;
    cursor: pointer;
    border-radius: 100px;
    display: grid;
    align-content: center;
    font-weight: lighter;
    height: 35px;
    justify-content: center;
    left: -17.5px;
    top: -17.5px;
    position: absolute;
    width: 35px;
}
.chatt-content-close i{
    font-size: 1.5rem;
}
.chatt-content-toggle{
    opacity: 1;
    transform: translateY(0vh);
}
.chatt-content-head{
    align-content: center;
    background-color: #090909;
    border-radius: 15px 0 0 0;
    display: grid;
    padding: 20px 0;
    text-align: center;
}
.chatt-content-head h5{
    margin: 0;
}
@media (max-width: 992px){
    .chatt-content-head{
        border-radius: 0px;
    }
}
.chatt-content-head h5{
    color: #fff;
    line-height: 30px;
    padding: 0 20px;
}
.chatt-content li{
    list-style-type: none;
    margin-top: 20px;
}



@media (max-width: 992px){
    .chatt-mobile{
        margin-top: 10px;
    }
    .chatt-mobile .btn{
        padding: 20px;
    }
}

.nav-footer-mobile{
    display: none;
}
@media (max-width: 992px){
    .nav-footer-mobile{
        display: block;
    }
}
.nav-footer-mobile{
    background-color: #fff;
    font-size: 0.8rem;
    position: absolute;
    position: fixed;
    bottom: 0;
    text-decoration: none;
    width: 100%;
}
.nav-footer-mobile ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.nav-footer-mobile i{
    display: grid;
    height: 25px;
    font-size: 1.2rem;
    margin-bottom: -3px;
    margin-top: 15px;
}
.nav-footer-mobile a{
    color: inherit;
    text-decoration: none;
}

/* MDDAL */
.contact ul{
    padding: 0;
    list-style-type: none;
}
.contact i{
    margin-right: 5px;
}
.contact li{
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.contact a{
    text-decoration: none;
}


/* MDDAL */


/* ADVOGADOS BLOCK */
.advogados-cards h3{
    font-size: 1.2rem;
    font-weight: 900;
}
.advogados-cards ul{
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
}
.advogados-cards li{
    margin-bottom: 10px;
}
.advogados-cards .card{
    border: 0;
    box-shadow: 0 0 30px #333;
}
/* ADVOGADOS BLOCK */


/* PAGES */

.title-page{
    
}
.pages{
    padding-bottom: 100px;
}

.pages h1{
    align-content: center;
    background-color: #f0f0f0;
    display: grid;
    font-size: 2rem;
    height: 120px;
    margin-top: 80px;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}
.pages h2{
    font-size: 1.6rem;
    margin: 3rem 0 0.8rem 0;
}
.pages-lead-space{
    background-color: var(--color-black-2);
    margin-bottom: 60px;
}
.pages-lead-space figure{
    margin: 0;
}
.pages-lead-space img{
    height: 320px;
    box-shadow: 0 0 10px #000;
}
@media (max-width: 992px){
    .pages h1{
        margin-top: 130px;
    }
    .pages-lead-space img{
        height: auto;
        width: 100%;
    }
}
/* PAGES */

/* QUEM SOMOS */
.quem-somos h3{
    font-size: 0.8rem;
    font-family: inherit;
    margin: 0;
}
/* QUEM SOMOS */