
@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');


:root {
    
    /* --primary: #0288D1; */
    --color-black: #010101;
    --color-black-2: #111;
    --color-black-3: #090909;
    --color-primary: #0D6EFD;
}

/* .bg-primary, .btn-primary{background-color: var(--primary)!important;}
.text-primary a{color: var(--primary)!important;} */

/* a {color: var(--primary);} */

body{
    background-color: #333;
    background-color: #FBFBFB;
}

h1, h2, h3, h4, h5{
    /* font-family: 'Tiro Telugu', serif; */
    font-family: 'Playfair Display', serif;
    /* letter-spacing: 1px; */
}
.mobile-show{
    display: none!important;
}
@media (max-width: 992px){
    .desktop-show{
        display: none!important;
    }
    .mobile-hide{
        display: none;
    }
    .mobile-show{
        display: block!important;
    }
}

/* CLASS */
.divider{opacity: 0.1;}
div{transition: 0.5s;}
.preload{
    width:100%;
    height:100vh;
    /* background-color: #fff; */
    display:grid;
    align-content:center;
    align-items:center;
    /* opacity:.1; */
    position:absolute;
    position: fixed;
    z-index:1;
    text-align:center;
    transition:.5s
}
.preload-content{
    max-width:90%;
    margin:auto;
}
/* NAV SHOW AND HIDE  */
.navbarOff{
    margin-top: -200px!important;
    transition: .5s;
}
.navbarMobileOff{
    margin-bottom: -100px!important;
    transition: .5s;
}
/* NAV SHOW AND HIDE  */

.terms-overlay{
    align-items: center;
    animation: termsAnimate 0.3s ease-out 2s forwards;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.5s, margin-top 0.5s;
    width: 100%;
    z-index: 999;
}

@keyframes termsAnimate {
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
.terms-overlay div{
    background-color: #fff;
    bottom: 0;
    padding: 30px;
    position: absolute;
    width: 100%;
}
.terms-overlay div h2{
    font-family: var(--bs-body-font-family)!important;
    font-size: 0.9rem;
}
.terms-overlay div p{
    font-size: 0.7rem;
}
.terms-overlay-hide{
    margin-bottom: -300px;
}


/* CLASS */

.btn{
    border-radius: 500px;
}

@media (max-width: 992px){
    .custom-mobile-mt-1-5{
        margin-top: 1.5rem;
    }
}

.navbar-transition-off{
    transition: 0!important;
}

.navbar{
    background-color: var(--color-black-3);
    transition: .5s;
}
@media (max-width: 992px){
    .navbar{
        background-color: transparent;
    }
}
.nav a{
    color: var(--color-black-3)!important;
}
.nav a:hover{
    text-decoration: none!important;
}
.nav i{
    color: #fff;
    font-size: 1.5rem;
    margin-left: 5px;
}
.navbar-nav i{
    color: inherit;
    font-size: 1rem;
    margin-right: 10px;
}
@media (max-width: 992px){
    .navbar-nav li a{
        font-size: 1.1rem!important;
    }
}
.social i{
    color: inherit;
    margin-right: 5px;
}
/* CLASS */
.home-link-space{
    margin-top: 50px;
}
@media (max-width: 992px){
    .home-link-space{
        margin-bottom: 50px;
    }
}

header{
    background-color: var(--color-black);
    padding: 40px 0;
    position: absolute;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 100%;
}


/* CLASS */

.container a, .container-fluid a, .contact a{
    text-decoration: none;
}

.container a:hover, .container-fluid a:hover, .contact a:hover{
    text-decoration: underline;
}

.home-lead-space{
    align-content: center;
    background-color: var(--color-black);
    background-image: url(../images/bg-machado-fernandes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: grid;
    height: 100vh;
    position: relative;
}
.home-lead-space h1{
    font-size: 2.2rem;
    font-weight: 500;
}
.home-lead-space p{
    font-size: 1.4rem;
    margin-top: 15px;
}
.home-lead-space div{
    animation-name: hello;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-top: 74.5px;
    opacity: 0;
    transform: translateY(15px);
}
@media (max-width: 992px){
    .home-lead-space{
        background-attachment: scroll;
        padding: 0 10px;
    }
    .home-lead-space article{
        margin-top: auto;
    }
    .home-lead-space h1{
        font-size: 1.9rem;
        padding: 0 13px;
        text-align: center;
    }
    .home-lead-space p{
        font-size: 1rem;
    }
}

@keyframes hello {
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.home-area-atuacao{
    align-content: start;
    display: grid;
    height: 100vh;
}
.home-area-atuacao i{
    font-size: 1.2rem;
}
@media (max-width: 992px){
    .home-area-atuacao{
        height: auto;
    }   
}

.home-advogados{
    background-color: var(--color-black);
    position: relative;
}
.home-advogados::before, .home-advogados::after{
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
}
.home-advogados::before{
    background-image: linear-gradient(#fbfbfb, #e4e4e4);
    top: -100px;
}
.home-advogados::after{
    background-image: linear-gradient(#e4e4e4, #fbfbfb);
    bottom: -100px;
}

.escritorio h2{
    padding:0  50px;
}


.home-context{
    display: grid;
    align-content: center;
    height: 100vh;
}
@media (max-width: 992px){
    .home-context{
        height: auto;
    }   
}
.home-context ul{
    padding: 0;
}
.home-context li{
    margin-top: 30px;
    list-style-position: inside;
    list-style-image: url(../images/home-check.svg);
}
.home-blog{
    transition: 0.5s;
}
.home-blog .card:hover{
    background-color: #f0f0f0f1;
}
.home-blog .card:active{
    background-color: #ccc;
}
.home-blog a{
    color: inherit;
}
.context-advogado-contato{
    align-content: center;
    display: grid;
    height: 50vh;
    background-color: #fff;
}
footer{
    background-color: var(--color-black);
    color: #ccc;
    font-size: 0.8rem;
}
footer ul{
    list-style-type: none;
}
footer li{
    margin: 10px 0;
}
footer i{
    margin-right: 5px;
}

@media (max-width: 992px){
    footer img{
        margin-bottom: 10px;
        width: 80%;
    }
    footer li{
        margin-top: 20px;
    }
}
 .credits{
    background-color: var(--color-black-2);
    border-top: 1px solid #ffffff0a;
    font-size: 0.8rem;
    padding: 15px 0;  
}
@media (max-width: 992px){
    .credits{
        align-content: center;
        display: grid;
        height: 85.2px;
        margin-bottom: 84px;
        padding: 0;
        text-align: center;
    }
}
/*

/* BUTTON OPEN CHATT */
.chatt{
    align-items: center;
    border-radius: 100px;
    bottom: 20px;
    position: fixed;
    right: 20px;
}
.chatt-off{
    bottom: -80px;
}
/* BUTTON OPEN CHATT */

.chatt-content{
    display: grid;
    background-color: #fff;
    bottom: 0px;
    box-shadow: rgb(51 51 51 / 26%) 8px 7px 20px 0px;
    border-radius: 20px 0 0 0;
    height: calc(100vh - 120px);
    /* opacity: 0; */
    position: relative;
    position: fixed;
    right: 0px;
    transform: translateY(100vh);
    width: 280px;
    z-index: 1;
}
.chatt-content div{
    display: grid;
    align-content: end;
}

.chatt-content div:last-child{
    background-color: #f0f0f0;
    padding: 15px 0 10px 0;
}
.chatt-content i{
    color: var(--color-black-2);
    font-size: 5rem;
    margin: 0;
    padding: 0;
}
.chatt-content h3{
    color: #212529;
    font-family: var(--bs-body-font-family)!important;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
}

.chatt-content p{
    font-size: 0.8rem;
}

.chatt-content-close{
    cursor: pointer;
    border-radius: 100px;
    display: grid;
    align-content: center;
    font-weight: lighter;
    height: 35px;
    justify-content: center;
    left: -17.5px;
    top: -17.5px;
    position: absolute;
    width: 35px;
}
.chatt-content-close i{
    color: #fff;
    font-size: 1.5rem;
}
.chatt-content-toggle{
    opacity: 1;
    transform: translateY(0vh);
}
.chatt-content-head h5{
    color: #fff;
    line-height: 30px;
    padding: 0 20px;
}
.chatt-content li{
    list-style-type: none;
    margin-top: 20px;
}

@media (max-width: 992px){
    .chatt-mobile{
        margin-top: 10px;
    }
}


@media (max-width: 992px){
    .chatt-content{
        align-items: end;
        border-radius: 0px;
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        justify-content: space-around;
        width: 100%;
    }
    .chatt-content div:last-child{
        align-self: flex-end;
        order: 1;
        padding: 50px 0 20px 0;
        width: 100%;
    }
    .chatt-content i{
        color: var(--color-black-3);
        font-size: 2.5rem;
        height: 50px;
        display: grid;
        transition: 0.3s;
    }
    .chatt-content h3{
        font-size: 0.8rem;
    }
    .chatt-content p{
        font-size: 1rem;
    }
    .chatt-content a{
        text-decoration: none;
    }
    .chatt-content i:active{
        color: #0D6EFD;
    }
}
.nav-footer-mobile{
    font-size: 0.8rem;
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    text-decoration: none;
    width: 100%;
}
.nav-footer-mobile ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.nav-footer-mobile i{
    display: grid;
    height: 25px;
    font-size: 1.6rem;
    margin-bottom: 5px;
    margin-top: 20px;
}
.nav-footer-mobile a{
    color: inherit;
    text-decoration: none;
}

/* MDDAL */
.contact ul{
    padding: 0;
    list-style-type: none;
}
.contact i{
    margin-right: 5px;
}
.contact li{
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.contact a{
    text-decoration: none;
}


/* MDDAL */


/* ADVOGADOS BLOCK */
.advogados-cards ul{
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
}
.advogados-cards li{
    margin-bottom: 10px;
}
.advogados-cards .card{
    border: 0;
    box-shadow: 0 0 30px #333;
}
/* ADVOGADOS BLOCK */


/* PAGES */

.pages{
    padding-bottom: 100px;
}

.pages h1{
    align-content: center;
    background-color: #f0f0f0;
    display: grid;
    font-size: 1.4rem;
    height: 80px;
    margin-top: 80px;
    margin-bottom: 0;
    padding-top: 3px;
    position: relative;
    text-align: center;
}
.pages h2{
    font-size: 1.6rem;
    margin: 3rem 0 0.8rem 0;
}
.pages-lead-space{
    background-color: var(--color-black-2);
    margin-bottom: 60px;
}
.pages-lead-space figure{
    margin: 0;
}
.pages-lead-space img{
    height: 320px;
    box-shadow: 0 0 10px #000;
}
@media (max-width: 992px){
    .pages h1{
        margin-top: 130px;
    }
    .pages-lead-space img{
        height: auto;
        width: 100%;
    }
}
/* PAGES */

/* QUEM SOMOS */
.quem-somos h3{
    font-size: 0.8rem;
    font-family: inherit;
    margin: 0;
}
/* QUEM SOMOS */

/* AREAS DE ATUACAO */

.nav-pills .nav-link.active, .nav-link.active i, .nav-pills .show>.nav-link
{
    background-color: #f0f0f0;
    color: var(--color-black-3);
    font-size: 0.9rem;
}
.nav-link, .nav-link:hover, .nav-link:focus, .areas-atuacao i{
    color: rgb(160, 160, 160);
    font-size: 0.9rem;
}
.nav-pills li{
    margin-right: 30px;
}
.areas-atuacao{
    min-height: 100vh;
}
.areas-atuacao i{
    margin-right: 7px;
}
.areas-atuacao h2, .areas-atuacao h3{
    font-family: var(--bs-body-font-family)!important;
    font-weight: bold;
    margin-bottom: 10px;
}
.areas-atuacao h2{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.areas-atuacao h3{
    font-size: 1rem;
    margin: 60px 0 30px 0;
}
.areas-atuacao .col-lg-8{
    padding-left: 45px;
}
.areas-atuacao .container{
    padding: 0;
}
@media (max-width: 992px){
    .areas-atuacao .col-lg-8{
        padding: 0 10px;
    }
}

/*MOBILE*/ 
.custom-accordion h2{
    margin: 0!important;
}
.custom-accordion i{
    font-size: 1.4rem!important;
    color: inherit;
    padding-right: 20px;
}
.custom-accordion h3{
    line-height: 20px;
}
/*MOBILE*/ 

.accordion{
    --bs-accordion-btn-focus-box-shadow: 0;
    border: 1px solid #f0f0f0;
}
.accordion-button:not(.collapsed){
    border: 0;
    background-color: #f0f0f0;
    color: inherit;
}

/* BLOG */
.blog-aside ::placeholder{
    color: #999!important;
}

.blog-aside h2{
    font-family: var(--bs-body-font-family)!important;
    font-weight: bold;
    margin: 0;
}
.blog-aside ul, .blog-mobile-aside ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.blog-aside li, .blog-mobile-aside li{
    margin-top: 5px;
}
.blog-aside .card, .blog-mobile-aside .card{
    margin-top: 20px;
}
.blog-posts-list a{
    color: inherit;
}
.blog-posts-list h2{
    line-height: 25px;
    margin: 0;
}

.blog-posts-list .card:hover{
    background-color: #f0f0f0f1;
}
.blog-posts-list .card:active{
    background-color: #ccc;
}


.blog-historic span{
    font-size: 0.8rem;
}
@media (max-width: 992px){
    .blog-posts-list{
        margin-top: 20px;
    }
    .blog-posts-list .card{
        margin-bottom: 20px;
    }
}

@media (max-width: 992px){
    .custom-input-group{
        margin-top: 1.5rem;
    }
    .custom-accordion-body{
        padding: 0;
    }
}

.blog-post-figure-position figure{
    margin-top: 70px;
}
.blog-post-figure-leadspace{
    height: 60vh;
    background-size: cover;
    position: relative;
}
.blog-post-figure-leadspace::after{
    width: 100%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.9);
    content: '';
    position: absolute;
}
.blog-post-width{
    max-width: 700px;
}

.blog-post-figure-img{
    height: 100%;
    margin: auto;
    padding: 0;
    z-index: 1;
}
.blog-post-content{
    margin: auto;
}
.blog-post-content h3{
    font-family: var(--bs-body-font-family)!important;
}
.blog-post-content h4{
    margin: 3rem 0 0.8rem 0;
}
.blog-last-posts ul{
    padding: 0;
    list-style-type: none;
}
.blog-last-posts li{
    margin-top: 1rem;
}
.blog-last-posts p{
    margin-top: 2rem;
}


.blog-author img{
    border-radius: 100px;
    width: 50px;
}

.blog-author p{
    color: #999;
    font-size: 0.8rem;
    margin: 0;
    margin-left: 5px;
}

@media (max-width: 992px){
    .blog-post-figure-position figure{
        margin-top: 120px;
    }
    .blog-post-figure-leadspace, .blog-post-figure-leadspace::after{
        height: 30vh;
    }
    .blog-post-content{
        padding: 0 15px;
    }
    .blog-author p{
        margin-left: 30px;
    }
}

/* BLOG */